.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;

  h1  {
    font-size: 3rem;
    margin: 1rem;
  }

  p {
    font-size: 2rem;
  }
}
